$yzma-orange: #f48122ff;
$yzma-orange-dark: #e4781fff;
$yzma-rust: #a25618ff;
$yzma-brown: #69513dff;
$yzma-bistre: #2f251dff;
$yzma-cream: #fdf6efff;

$primary: $yzma-rust;
$orange: $yzma-orange;
$secondary: $yzma-brown;
$light: $yzma-cream;
$dark: $yzma-bistre;
